.version.order_details /* version checker */
{
	color: #00000F;
	background-color: #63F328;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 248px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
	padding: 78px 20px 21px;
}

#u2082
{
	z-index: 99;
	height: 62px;
	top: 0px;
}

#u2082-bw
{
	z-index: 99;
}

#u1569-4
{
	z-index: 131;
	width: 91px;
	min-height: 28px;
	top: 18px;
	left: 50%;
	margin-left: -490px;
}

#menuu1526
{
	z-index: 100;
	width: 442px;
	top: 15px;
	left: 50%;
	margin-left: -63px;
}

#u1548
{
	width: 58px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1549
{
	width: 58px;
	padding-bottom: 16px;
}

#u1549.MuseMenuActive
{
	width: 58px;
	min-height: 0px;
	margin: 0px;
}

#u1551-4
{
	width: 42px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 8px;
}

#u1549:hover #u1551-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u1549.MuseMenuActive #u1551-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u1534
{
	width: 77px;
	min-height: 34px;
	margin-right: -10000px;
	left: 60px;
}

#u1537
{
	width: 77px;
	padding-bottom: 16px;
}

#u1537.MuseMenuActive
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u1540-4
{
	width: 61px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 8px;
}

#u1537:hover #u1540-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1537.MuseMenuActive #u1540-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1541
{
	width: 85px;
	min-height: 34px;
	margin-right: -10000px;
	left: 139px;
}

#u1542
{
	width: 85px;
	padding-bottom: 16px;
}

#u1542:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u1542.MuseMenuActive
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u1545-4
{
	width: 70px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 7px;
}

#u1542:hover #u1545-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u1542.MuseMenuActive #u1545-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u1527
{
	width: 109px;
	min-height: 34px;
	margin-right: -10000px;
	left: 226px;
}

#u1528
{
	width: 109px;
	padding-bottom: 16px;
}

#u1528:hover
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u1528.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u1531-4
{
	width: 94px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 7px;
}

#u1528:hover #u1531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u1528.MuseMenuActive #u1531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u1562
{
	width: 105px;
	min-height: 34px;
	margin-right: -10000px;
	left: 337px;
}

#u1565
{
	width: 105px;
	padding-bottom: 16px;
}

#u1565:hover
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u1565.MuseMenuActive
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u1567-4
{
	width: 90px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 7px;
}

#u1565:hover #u1567-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u1565.MuseMenuActive #u1567-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1989
{
	z-index: 135;
	width: 96px;
	padding-bottom: 4px;
	top: 15px;
	left: 50%;
	margin-left: 387px;
}

#buttonu1989:hover
{
	width: 96px;
	min-height: 0px;
	margin: 0px 0px 0px 387px;
}

#buttonu1989.ButtonSelected
{
	width: 96px;
	min-height: 0px;
	margin: 0px 0px 0px 387px;
}

#u1990-4
{
	z-index: 136;
	width: 90px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#buttonu1989:hover #u1990-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 90px;
	margin: 7px -10000px 0px 0px;
}

#buttonu1989.ButtonSelected #u1990-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 90px;
	margin: 7px -10000px 0px 0px;
}

#u2104
{
	z-index: 140;
	height: 13px;
	top: 49px;
}

#u2104-bw
{
	z-index: 140;
}

#pu3254
{
	width: 0.01px;
	margin-left: 268px;
}

#u3254
{
	z-index: 11;
	width: 405px;
	background-color: #29263C;
	position: relative;
	margin-right: -10000px;
	padding: 18px 20px 36.20000000000073px;
}

#u3255-4
{
	z-index: 12;
	width: 250px;
	min-height: 49px;
	background-color: transparent;
	color: #29ABE2;
	font-size: 40px;
	line-height: 48px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-left: 74px;
	position: relative;
}

#u3256-4
{
	z-index: 16;
	width: 300px;
	min-height: 28px;
	background-color: transparent;
	color: #29ABE2;
	font-size: 20px;
	line-height: 24px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-top: 26px;
	position: relative;
}

#u3258-4
{
	z-index: 24;
	width: 300px;
	min-height: 28px;
	background-color: transparent;
	color: #29ABE2;
	font-size: 20px;
	line-height: 24px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#u3260-4
{
	z-index: 32;
	width: 300px;
	min-height: 28px;
	background-color: transparent;
	color: #29ABE2;
	font-size: 20px;
	line-height: 24px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u3262
{
	z-index: 40;
	width: 405px;
	height: 2px;
	background-color: #29ABE2;
	margin-top: 18px;
	position: relative;
}

#u3263-4
{
	z-index: 41;
	width: 300px;
	min-height: 28px;
	background-color: transparent;
	color: #29ABE2;
	font-size: 20px;
	line-height: 24px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u3265-4
{
	z-index: 49;
	width: 300px;
	min-height: 28px;
	background-color: transparent;
	color: #29ABE2;
	font-size: 20px;
	line-height: 24px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u3267-4
{
	z-index: 57;
	width: 300px;
	min-height: 28px;
	background-color: transparent;
	color: #29ABE2;
	font-size: 20px;
	line-height: 24px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u3269
{
	z-index: 65;
	width: 405px;
	height: 2px;
	background-color: #29ABE2;
	margin-top: 18px;
	position: relative;
}

#u3270-4
{
	z-index: 66;
	width: 300px;
	min-height: 28px;
	background-color: transparent;
	color: #29ABE2;
	font-size: 20px;
	line-height: 24px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-top: 19px;
	position: relative;
}

#u3272-4
{
	z-index: 74;
	width: 300px;
	min-height: 28px;
	background-color: transparent;
	color: #29ABE2;
	font-size: 20px;
	line-height: 24px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u3274
{
	z-index: 82;
	width: 405px;
	height: 2px;
	background-color: #29ABE2;
	margin-top: 18px;
	position: relative;
}

#u3275-4
{
	z-index: 83;
	width: 300px;
	min-height: 28px;
	background-color: transparent;
	color: #29ABE2;
	font-size: 20px;
	line-height: 24px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u3277-4
{
	z-index: 91;
	width: 300px;
	min-height: 28px;
	background-color: transparent;
	color: #29ABE2;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-left: 52px;
	margin-top: 42px;
	position: relative;
}

#u3278-4
{
	z-index: 95;
	width: 234px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 25px;
	line-height: 30px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-left: 82px;
	margin-top: 10px;
	position: relative;
}

#u3257-4
{
	z-index: 20;
	width: 279px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: right;
	font-size: 16px;
	line-height: 19px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	left: 146px;
}

#u3259-4
{
	z-index: 28;
	width: 279px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: right;
	font-size: 16px;
	line-height: 19px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 146px;
}

#u3261-4
{
	z-index: 36;
	width: 279px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: right;
	font-size: 16px;
	line-height: 19px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 186px;
	left: 146px;
}

#u3264-4
{
	z-index: 45;
	width: 279px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: right;
	font-size: 16px;
	line-height: 19px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 252px;
	left: 146px;
}

#u3266-4
{
	z-index: 53;
	width: 279px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: right;
	font-size: 16px;
	line-height: 19px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 298px;
	left: 146px;
}

#u3268-4
{
	z-index: 61;
	width: 279px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: right;
	font-size: 16px;
	line-height: 19px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 344px;
	left: 146px;
}

#u3271-4
{
	z-index: 70;
	width: 279px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: right;
	font-size: 16px;
	line-height: 19px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 411px;
	left: 146px;
}

#u3273-4
{
	z-index: 78;
	width: 279px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: right;
	font-size: 16px;
	line-height: 19px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 457px;
	left: 146px;
}

#u3276-4
{
	z-index: 87;
	width: 279px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: right;
	font-size: 16px;
	line-height: 19px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 523px;
	left: 146px;
}

#u3276
{
	color: #FFFFFF;
}

#pu1638
{
	width: 0.01px;
	margin-left: 296px;
	margin-top: 29px;
}

#u1638
{
	z-index: 6;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
}

#u1642
{
	z-index: 10;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
	left: 82px;
}

#u1639
{
	z-index: 7;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
	left: 164px;
}

#u1640
{
	z-index: 8;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
	left: 246px;
}

#u1641
{
	z-index: 9;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
	left: 328px;
}

#u1638:hover,#u1642:hover,#u1639:hover,#u1640:hover,#u1641:hover
{
	width: 60px;
	height: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1637-4
{
	z-index: 2;
	width: 980px;
	min-height: 23px;
	margin-top: 23px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

