.version.store_details /* version checker */
{
	color: #00001A;
	background-color: #6BE1B2;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 246.94962643308008px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
	padding: 79px 20px 21.050373566919916px;
}

#u2082
{
	z-index: 101;
	height: 62px;
	top: 0px;
}

#u2082-bw
{
	z-index: 101;
}

#u1569-4
{
	z-index: 133;
	width: 91px;
	min-height: 28px;
	top: 18px;
	left: 50%;
	margin-left: -490px;
}

#menuu1526
{
	z-index: 102;
	width: 442px;
	top: 15px;
	left: 50%;
	margin-left: -63px;
}

#u1548
{
	width: 58px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1549
{
	width: 58px;
	padding-bottom: 16px;
}

#u1549.MuseMenuActive
{
	width: 58px;
	min-height: 0px;
	margin: 0px;
}

#u1551-4
{
	width: 42px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 8px;
}

#u1549:hover #u1551-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u1549.MuseMenuActive #u1551-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u1534
{
	width: 77px;
	min-height: 34px;
	margin-right: -10000px;
	left: 60px;
}

#u1537
{
	width: 77px;
	padding-bottom: 16px;
}

#u1537.MuseMenuActive
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u1540-4
{
	width: 61px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 8px;
}

#u1537:hover #u1540-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1537.MuseMenuActive #u1540-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1541
{
	width: 85px;
	min-height: 34px;
	margin-right: -10000px;
	left: 139px;
}

#u1542
{
	width: 85px;
	padding-bottom: 16px;
}

#u1542:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u1542.MuseMenuActive
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u1545-4
{
	width: 70px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 7px;
}

#u1542:hover #u1545-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u1542.MuseMenuActive #u1545-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u1527
{
	width: 109px;
	min-height: 34px;
	margin-right: -10000px;
	left: 226px;
}

#u1528
{
	width: 109px;
	padding-bottom: 16px;
}

#u1528:hover
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u1528.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u1531-4
{
	width: 94px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 7px;
}

#u1528:hover #u1531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u1528.MuseMenuActive #u1531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u1562
{
	width: 105px;
	min-height: 34px;
	margin-right: -10000px;
	left: 337px;
}

#u1565
{
	width: 105px;
	padding-bottom: 16px;
}

#u1565:hover
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u1565.MuseMenuActive
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u1567-4
{
	width: 90px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 7px;
}

#u1565:hover #u1567-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u1565.MuseMenuActive #u1567-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1989
{
	z-index: 137;
	width: 96px;
	padding-bottom: 4px;
	top: 15px;
	left: 50%;
	margin-left: 387px;
}

#buttonu1989:hover
{
	width: 96px;
	min-height: 0px;
	margin: 0px 0px 0px 387px;
}

#buttonu1989.ButtonSelected
{
	width: 96px;
	min-height: 0px;
	margin: 0px 0px 0px 387px;
}

#u1990-4
{
	z-index: 138;
	width: 90px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#buttonu1989:hover #u1990-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 90px;
	margin: 7px -10000px 0px 0px;
}

#buttonu1989.ButtonSelected #u1990-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 90px;
	margin: 7px -10000px 0px 0px;
}

#u2104
{
	z-index: 142;
	height: 13px;
	top: 49px;
}

#u2104-bw
{
	z-index: 142;
}

#u1999-6
{
	z-index: 70;
	width: 381px;
	min-height: 59px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 45px;
	line-height: 54px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-left: 300px;
	position: relative;
}

#pu1602
{
	width: 0.01px;
	margin-left: 67px;
	margin-top: 21px;
}

#u1602
{
	z-index: 11;
	width: 366px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 512px;
}

#widgetu1603
{
	z-index: 12;
	width: 0.01px;
	height: 276px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu1605
{
	z-index: 13;
	width: 366px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu1605.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 366px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1607-4
{
	z-index: 14;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #7F7F7F;
	text-align: left;
	font-size: 16px;
	line-height: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1606-4
{
	z-index: 18;
	width: 348px;
	min-height: 31px;
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #FFFFFF;
	padding: 8px;
	color: #5D5D5D;
	font-size: 16px;
	line-height: 16px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1605.non-empty-st #u1606-4
{
	background-color: #FFFFFF;
}

#widgetu1605:hover #u1606-4
{
	border-color: #6B6B6B;
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 31px;
	width: 348px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1605.focus-st #u1606-4
{
	border-color: #6B6B6B;
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 31px;
	width: 348px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1605.non-empty-st #u1606-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1605:hover #u1606-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1605.focus-st #u1606-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1614
{
	z-index: 22;
	width: 366px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: -1px;
}

#widgetu1614.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 366px;
	height: 68px;
	min-height: 0px;
	margin: 67px -10000px 0px 0px;
}

#u1616-4
{
	z-index: 23;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #7F7F7F;
	text-align: left;
	font-size: 16px;
	line-height: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu1614.fld-err-st #u1616-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u1617-4
{
	z-index: 27;
	width: 348px;
	min-height: 31px;
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #FFFFFF;
	padding: 8px;
	color: #5D5D5D;
	font-size: 16px;
	line-height: 16px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1614.non-empty-st #u1617-4
{
	background-color: #FFFFFF;
}

#widgetu1614:hover #u1617-4
{
	border-color: #6B6B6B;
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 31px;
	width: 348px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1614.focus-st #u1617-4
{
	border-color: #6B6B6B;
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 31px;
	width: 348px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1605.fld-err-st #u1606-4,#widgetu1614.fld-err-st #u1617-4
{
	border-color: #D7244C;
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 31px;
	width: 348px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1614.non-empty-st #u1617-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1614:hover #u1617-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1614.focus-st #u1617-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1605_input,#widgetu1605_prompt,#widgetu1614_input,#widgetu1614_prompt
{
	width: 348px;
	min-height: 31px;
	color: #5D5D5D;
	font-family: electrolize, sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 8px;
}

#u1613-4
{
	z-index: 31;
	width: 226px;
	min-height: 18px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
	left: 138px;
}

#widgetu1603.frm-sub-st #u1613-4 p
{
	color: #999999;
	text-align: center;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1604-4
{
	z-index: 35;
	width: 226px;
	min-height: 18px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
	left: 138px;
}

#widgetu1603.frm-subm-err-st #u1604-4 p
{
	color: #D7244C;
	text-align: center;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1619-4
{
	z-index: 39;
	width: 226px;
	min-height: 18px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	text-align: left;
	font-size: 12px;
	line-height: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
	left: 138px;
}

#widgetu1603.frm-sub-st #u1613-4,#widgetu1603.frm-subm-err-st #u1604-4,#widgetu1603.frm-subm-ok-st #u1619-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 22px;
}

#widgetu1603.frm-subm-ok-st #u1619-4 p
{
	color: #999999;
	text-align: center;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1618-17
{
	z-index: 43;
	min-height: 30px;
	width: 127px;
	position: relative;
	margin-right: -10000px;
	margin-top: 246px;
	background: url("../images/u1618-17.png") no-repeat 0px 0px;
}

#u1618-17:hover
{
	background: url("../images/u1618-17-r.png") no-repeat 0px 0px;
}

#u1618-17:active
{
	background: url("../images/u1618-17-m.png") no-repeat 0px 0px;
}

#widgetu1603.frm-sub-st #u1618-17
{
	background: url("../images/u1618-17-fs.png") no-repeat 0px 0px;
}

#widgetu1609
{
	z-index: 60;
	width: 366px;
	height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: -1px;
}

#widgetu1609.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 366px;
	height: 101px;
	min-height: 0px;
	margin: 130px -10000px 0px 0px;
}

#u1611-4
{
	z-index: 61;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #7F7F7F;
	text-align: left;
	font-size: 16px;
	line-height: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu1605.fld-err-st #u1607-4,#widgetu1609.fld-err-st #u1611-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1605.fld-err-st #u1607-4 p,#widgetu1605.fld-err-st #u1607-4 span,#widgetu1614.fld-err-st #u1616-4 p,#widgetu1614.fld-err-st #u1616-4 span,#widgetu1609.fld-err-st #u1611-4 p,#widgetu1609.fld-err-st #u1611-4 span
{
	color: #D7244C;
}

#u1610-4
{
	z-index: 65;
	width: 348px;
	min-height: 64px;
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #FFFFFF;
	padding: 8px;
	color: #5D5D5D;
	font-size: 16px;
	line-height: 16px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1609.non-empty-st #u1610-4
{
	background-color: #FFFFFF;
}

#widgetu1609:hover #u1610-4
{
	border-color: #6B6B6B;
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 64px;
	width: 348px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1609.focus-st #u1610-4
{
	border-color: #6B6B6B;
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 64px;
	width: 348px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1609.fld-err-st #u1610-4
{
	border-color: #D7244C;
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 64px;
	width: 348px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1609.non-empty-st #u1610-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1609:hover #u1610-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1609.focus-st #u1610-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1605.fld-err-st #u1606-4 *,#widgetu1614.fld-err-st #u1617-4 *,#widgetu1609.fld-err-st #u1610-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu1609_input,#widgetu1609_prompt
{
	width: 348px;
	min-height: 64px;
	color: #5D5D5D;
	font-family: electrolize, sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 8px;
}

#widgetu1605.focus-st #widgetu1605_prompt,#widgetu1614.focus-st #widgetu1614_prompt,#widgetu1609.focus-st #widgetu1609_prompt
{
	padding-top: 8px;
	padding-bottom: 8px;
	visibility: hidden;
}

#widgetu1605:hover #widgetu1605_input,#widgetu1605.focus-st #widgetu1605_input,#widgetu1605.fld-err-st #widgetu1605_input,#widgetu1605:hover #widgetu1605_prompt,#widgetu1605.fld-err-st #widgetu1605_prompt,#widgetu1614:hover #widgetu1614_input,#widgetu1614.focus-st #widgetu1614_input,#widgetu1614.fld-err-st #widgetu1614_input,#widgetu1614:hover #widgetu1614_prompt,#widgetu1614.fld-err-st #widgetu1614_prompt,#widgetu1609:hover #widgetu1609_input,#widgetu1609.focus-st #widgetu1609_input,#widgetu1609.fld-err-st #widgetu1609_input,#widgetu1609:hover #widgetu1609_prompt,#widgetu1609.fld-err-st #widgetu1609_prompt
{
	padding-top: 8px;
	padding-bottom: 8px;
}

#widgetu1605.non-empty-st #widgetu1605_prompt,#widgetu1614.non-empty-st #widgetu1614_prompt,#widgetu1609.non-empty-st #widgetu1609_prompt
{
	visibility: hidden;
}

#u2077-21
{
	z-index: 76;
	width: 421px;
	min-height: 251px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#u1999-2,#u1999-3,#u2077-2,#u2077-7,#u2077-12
{
	color: #29ABE2;
}

#u2077-4,#u2077-5,#u2077-9,#u2077-10,#u2077-15,#u2077-16
{
	color: #FFFFFF;
}

#u2077-19
{
	color: #FFFFFF;
	font-style: italic;
}

#u2077-14,#u2077-17
{
	color: #FF0000;
}

#u2078-4
{
	z-index: 97;
	width: 182px;
	min-height: 27px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
	left: 174px;
}

#u1996
{
	z-index: 69;
	width: 980px;
	min-height: 406px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 52px;
	position: relative;
}

#pu1638
{
	width: 0.01px;
	margin-left: 296px;
	margin-top: 29px;
}

#u1638
{
	z-index: 6;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
}

#u1642
{
	z-index: 10;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
	left: 82px;
}

#u1639
{
	z-index: 7;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
	left: 164px;
}

#u1640
{
	z-index: 8;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
	left: 246px;
}

#u1641
{
	z-index: 9;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
	left: 328px;
}

#u1638:hover,#u1642:hover,#u1639:hover,#u1640:hover,#u1641:hover
{
	width: 60px;
	height: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1637-4
{
	z-index: 2;
	width: 980px;
	min-height: 23px;
	margin-top: 23px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

