.version.packages /* version checker */
{
	color: #0000EA;
	background-color: #9D3C17;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 250.59962643307972px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
	padding: 75px 20px 21.40037356692028px;
}

#u2082
{
	z-index: 144;
	height: 62px;
	top: 0px;
}

#u2082-bw
{
	z-index: 144;
}

#u1569-4
{
	z-index: 176;
	width: 91px;
	min-height: 28px;
	top: 18px;
	left: 50%;
	margin-left: -490px;
}

#menuu1526
{
	z-index: 145;
	width: 446px;
	top: 15px;
	left: 50%;
	margin-left: -63px;
}

#u1548
{
	width: 58px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1549
{
	width: 58px;
	padding-bottom: 16px;
}

#u1549.MuseMenuActive
{
	width: 58px;
	min-height: 0px;
	margin: 0px;
}

#u1551-4
{
	width: 42px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 8px;
}

#u1549:hover #u1551-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u1549.MuseMenuActive #u1551-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u1534
{
	width: 77px;
	min-height: 34px;
	margin-right: -10000px;
	left: 60px;
}

#u1537
{
	width: 77px;
	padding-bottom: 16px;
}

#u1537.MuseMenuActive
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u1540-4
{
	width: 61px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 8px;
}

#u1537:hover #u1540-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1537.MuseMenuActive #u1540-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1541
{
	width: 85px;
	min-height: 34px;
	margin-right: -10000px;
	left: 139px;
}

#u1542
{
	width: 85px;
	padding-bottom: 16px;
}

#u1542:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u1542.MuseMenuActive
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u1545-4
{
	width: 70px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 7px;
}

#u1542:hover #u1545-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u1542.MuseMenuActive #u1545-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u1527
{
	width: 109px;
	min-height: 34px;
	margin-right: -10000px;
	left: 226px;
}

#u1528
{
	width: 109px;
	padding-bottom: 16px;
}

#u1528:hover
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u1531-4
{
	width: 94px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 7px;
}

#u1528:hover #u1531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u1562
{
	width: 109px;
	min-height: 34px;
	margin-right: -10000px;
	left: 337px;
}

#u1565
{
	width: 109px;
	padding-bottom: 16px;
}

#u1528.MuseMenuActive,#u1565:hover
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u1565.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u1567-4
{
	width: 94px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 7px;
}

#u1528.MuseMenuActive #u1531-4,#u1565:hover #u1567-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u1565.MuseMenuActive #u1567-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1989
{
	z-index: 180;
	width: 96px;
	padding-bottom: 4px;
	top: 15px;
	left: 50%;
	margin-left: 387px;
}

#buttonu1989:hover
{
	width: 96px;
	min-height: 0px;
	margin: 0px 0px 0px 387px;
}

#buttonu1989.ButtonSelected
{
	width: 96px;
	min-height: 0px;
	margin: 0px 0px 0px 387px;
}

#u1990-4
{
	z-index: 181;
	width: 90px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#buttonu1989:hover #u1990-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 90px;
	margin: 7px -10000px 0px 0px;
}

#buttonu1989.ButtonSelected #u1990-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 90px;
	margin: 7px -10000px 0px 0px;
}

#u2104
{
	z-index: 185;
	height: 13px;
	top: 49px;
}

#u2104-bw
{
	z-index: 185;
}

#u1984-5
{
	z-index: 139;
	width: 387px;
	min-height: 59px;
	background-color: transparent;
	line-height: 54px;
	color: #FFFFFF;
	font-size: 45px;
	text-align: left;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-left: 296px;
	position: relative;
}

#pu2554-5
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: 9px;
}

#u2554-5
{
	z-index: 11;
	width: 102px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 316px;
}

#u2555-5
{
	z-index: 16;
	width: 107px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 545px;
}

#u2556-5
{
	z-index: 21;
	width: 114px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 781px;
}

#u1984-2,#u2554-2,#u2555-2,#u2556-2
{
	color: #29ABE2;
}

#u1757
{
	z-index: 26;
	width: 9px;
	height: 718px;
	background-color: #4A4E54;
	opacity: 0.41;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=41)";
	filter: alpha(opacity=41);
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1760
{
	z-index: 27;
	width: 9px;
	height: 718px;
	background-color: #4A4E54;
	opacity: 0.41;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=41)";
	filter: alpha(opacity=41);
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 957px;
}

#u1762-4
{
	z-index: 28;
	width: 170px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 43px;
}

#u1763-4
{
	z-index: 32;
	width: 170px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 282px;
}

#u1766-4
{
	z-index: 36;
	width: 170px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 514px;
}

#u1767-4
{
	z-index: 40;
	width: 170px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 753px;
}

#u1768-4
{
	z-index: 44;
	width: 170px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
	left: 43px;
}

#u1769-4
{
	z-index: 48;
	width: 170px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 145px;
	left: 43px;
}

#u1780-4
{
	z-index: 52;
	width: 170px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 209px;
	left: 44px;
}

#u1781-4
{
	z-index: 56;
	width: 170px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 273px;
	left: 44px;
}

#u1782-4
{
	z-index: 60;
	width: 170px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 338px;
	left: 43px;
}

#u1783-4
{
	z-index: 64;
	width: 170px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 402px;
	left: 44px;
}

#u1784-4
{
	z-index: 68;
	width: 170px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 466px;
	left: 43px;
}

#u1785-4
{
	z-index: 72;
	width: 170px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 530px;
	left: 43px;
}

#u1786-4
{
	z-index: 76;
	width: 238px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 658px;
	left: 9px;
}

#u1787-4
{
	z-index: 80;
	width: 170px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 594px;
	left: 43px;
}

#u1790
{
	z-index: 84;
	width: 9px;
	height: 718px;
	background-color: #4A4E54;
	opacity: 0.41;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=41)";
	filter: alpha(opacity=41);
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 247px;
}

#u1792
{
	z-index: 85;
	width: 9px;
	height: 718px;
	background-color: #4A4E54;
	opacity: 0.41;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=41)";
	filter: alpha(opacity=41);
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 479px;
}

#u1793
{
	z-index: 86;
	width: 9px;
	height: 718px;
	background-color: #4A4E54;
	opacity: 0.41;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=41)";
	filter: alpha(opacity=41);
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 710px;
}

#u1794
{
	z-index: 87;
	width: 966px;
	height: 59px;
	background-color: #4A4E54;
	opacity: 0.41;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=41)";
	filter: alpha(opacity=41);
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1795
{
	z-index: 88;
	width: 966px;
	height: 13px;
	background-color: #4A4E54;
	opacity: 0.41;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=41)";
	filter: alpha(opacity=41);
	position: relative;
	margin-right: -10000px;
	margin-top: 706px;
}

#u1803
{
	z-index: 89;
	width: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 332px;
}

#u1896
{
	z-index: 91;
	width: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 186px;
	left: 331px;
}

#u1898
{
	z-index: 93;
	width: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 331px;
}

#u1902
{
	z-index: 95;
	width: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 315px;
	left: 331px;
}

#u1922
{
	z-index: 97;
	width: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 564px;
}

#u1924
{
	z-index: 99;
	width: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 186px;
	left: 564px;
}

#u1926
{
	z-index: 101;
	width: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 563px;
}

#u1928
{
	z-index: 103;
	width: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 315px;
	left: 563px;
}

#u1930
{
	z-index: 105;
	width: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 379px;
	left: 564px;
}

#u1934
{
	z-index: 107;
	width: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 443px;
	left: 563px;
}

#u1952
{
	z-index: 109;
	width: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 802px;
}

#u1954
{
	z-index: 111;
	width: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 186px;
	left: 802px;
}

#u1956
{
	z-index: 113;
	width: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 802px;
}

#u1958
{
	z-index: 115;
	width: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 315px;
	left: 802px;
}

#u1960
{
	z-index: 117;
	width: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 379px;
	left: 802px;
}

#u1962
{
	z-index: 119;
	width: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 507px;
	left: 802px;
}

#u1964
{
	z-index: 121;
	width: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 443px;
	left: 802px;
}

#u1966
{
	z-index: 123;
	width: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 634px;
	left: 802px;
}

#u1968
{
	z-index: 125;
	width: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 570px;
	left: 802px;
}

#u1980-4
{
	z-index: 127;
	width: 170px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	color: #29ABE2;
	font-size: 20px;
	text-align: center;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: 282px;
}

#u1982-4
{
	z-index: 131;
	width: 170px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	color: #29ABE2;
	font-size: 20px;
	text-align: center;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: 514px;
}

#u1983-4
{
	z-index: 135;
	width: 170px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	color: #29ABE2;
	font-size: 20px;
	text-align: center;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: 753px;
}

#pu1638
{
	width: 0.01px;
	margin-left: 296px;
	margin-top: 28px;
}

#u1638
{
	z-index: 6;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
}

#u1642
{
	z-index: 10;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
	left: 82px;
}

#u1639
{
	z-index: 7;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
	left: 164px;
}

#u1640
{
	z-index: 8;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
	left: 246px;
}

#u1641
{
	z-index: 9;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
	left: 328px;
}

#u1638:hover,#u1642:hover,#u1639:hover,#u1640:hover,#u1641:hover
{
	width: 60px;
	height: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1637-4
{
	z-index: 2;
	width: 980px;
	min-height: 23px;
	margin-top: 23px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

