.version.check_order /* version checker */
{
	color: #00000A;
	background-color: #2D4BDF;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 539px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #000000;
	padding-top: 31px;
}

#accordionu4062
{
	z-index: 11;
	width: 358px;
	margin-left: 19px;
}

#u4067
{
	z-index: 12;
	width: 358px;
}

#u4070-4
{
	z-index: 13;
	width: 346px;
	min-height: 14px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u4070-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 346px;
	margin: 0px;
}

#u4070-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 346px;
	margin: 0px;
}

#u4070-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 346px;
	margin: 0px;
}

#u4068
{
	z-index: 17;
	width: 356px;
	height: 117px;
}

#pu4016
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 418px;
}

#u4016
{
	z-index: 6;
	width: 41px;
	height: 45px;
	margin-right: -10000px;
}

#u4020
{
	z-index: 10;
	width: 41px;
	height: 45px;
	margin-right: -10000px;
	left: 75px;
}

#u4017
{
	z-index: 7;
	width: 41px;
	height: 45px;
	margin-right: -10000px;
	left: 149px;
}

#u4018
{
	z-index: 8;
	width: 41px;
	height: 45px;
	margin-right: -10000px;
	left: 224px;
}

#u4019
{
	z-index: 9;
	width: 41px;
	height: 45px;
	margin-right: -10000px;
	left: 299px;
}

#u4016:hover,#u4020:hover,#u4017:hover,#u4018:hover,#u4019:hover
{
	width: 41px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4015-4
{
	z-index: 2;
	min-height: 31px;
}

#u4015-4-bw
{
	z-index: 2;
	min-height: 31px;
	margin-top: 7px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

