.version.reservation_confirmation /* version checker */
{
	color: #0000E9;
	background-color: #8E65EB;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 249px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
	padding: 77px 20px 21px;
}

#u2082
{
	z-index: 23;
	height: 62px;
	top: 0px;
}

#u2082-bw
{
	z-index: 23;
}

#u1569-4
{
	z-index: 55;
	width: 91px;
	min-height: 28px;
	top: 18px;
	left: 50%;
	margin-left: -490px;
}

#menuu1526
{
	z-index: 24;
	width: 442px;
	top: 15px;
	left: 50%;
	margin-left: -63px;
}

#u1548
{
	width: 58px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1549
{
	width: 58px;
	padding-bottom: 16px;
}

#u1549.MuseMenuActive
{
	width: 58px;
	min-height: 0px;
	margin: 0px;
}

#u1551-4
{
	width: 42px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 8px;
}

#u1549:hover #u1551-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u1549.MuseMenuActive #u1551-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u1534
{
	width: 77px;
	min-height: 34px;
	margin-right: -10000px;
	left: 60px;
}

#u1537
{
	width: 77px;
	padding-bottom: 16px;
}

#u1537.MuseMenuActive
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u1540-4
{
	width: 61px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 8px;
}

#u1537:hover #u1540-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1537.MuseMenuActive #u1540-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1541
{
	width: 85px;
	min-height: 34px;
	margin-right: -10000px;
	left: 139px;
}

#u1542
{
	width: 85px;
	padding-bottom: 16px;
}

#u1542:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u1542.MuseMenuActive
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u1545-4
{
	width: 70px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 7px;
}

#u1542:hover #u1545-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u1542.MuseMenuActive #u1545-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u1527
{
	width: 109px;
	min-height: 34px;
	margin-right: -10000px;
	left: 226px;
}

#u1528
{
	width: 109px;
	padding-bottom: 16px;
}

#u1528:hover
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u1528.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u1531-4
{
	width: 94px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 7px;
}

#u1528:hover #u1531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u1528.MuseMenuActive #u1531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u1562
{
	width: 105px;
	min-height: 34px;
	margin-right: -10000px;
	left: 337px;
}

#u1565
{
	width: 105px;
	padding-bottom: 16px;
}

#u1565:hover
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u1565.MuseMenuActive
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u1567-4
{
	width: 90px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 7px;
}

#u1565:hover #u1567-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u1565.MuseMenuActive #u1567-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1989
{
	z-index: 59;
	width: 96px;
	padding-bottom: 4px;
	top: 15px;
	left: 50%;
	margin-left: 387px;
}

#buttonu1989:hover
{
	width: 96px;
	min-height: 0px;
	margin: 0px 0px 0px 387px;
}

#buttonu1989.ButtonSelected
{
	width: 96px;
	min-height: 0px;
	margin: 0px 0px 0px 387px;
}

#u1990-4
{
	z-index: 60;
	width: 90px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#buttonu1989:hover #u1990-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 90px;
	margin: 7px -10000px 0px 0px;
}

#buttonu1989.ButtonSelected #u1990-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 90px;
	margin: 7px -10000px 0px 0px;
}

#u2104
{
	z-index: 64;
	height: 13px;
	top: 49px;
}

#u2104-bw
{
	z-index: 64;
}

#u3320-4
{
	z-index: 11;
	width: 768px;
	min-height: 59px;
	background-color: transparent;
	line-height: 54px;
	font-size: 45px;
	text-align: left;
	color: #FFFFFF;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-left: 106px;
	position: relative;
}

#u3321-4
{
	z-index: 15;
	width: 559px;
	min-height: 32px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: left;
	color: #FFFFFF;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-left: 211px;
	position: relative;
}

#u3322-4
{
	z-index: 19;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	line-height: 54px;
	font-size: 45px;
	text-align: left;
	color: #29ABE2;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-left: 230px;
	position: relative;
}

#pu1638
{
	width: 0.01px;
	margin-left: 296px;
	margin-top: 29px;
}

#u1638
{
	z-index: 6;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
}

#u1642
{
	z-index: 10;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
	left: 82px;
}

#u1639
{
	z-index: 7;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
	left: 164px;
}

#u1640
{
	z-index: 8;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
	left: 246px;
}

#u1641
{
	z-index: 9;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
	left: 328px;
}

#u1638:hover,#u1642:hover,#u1639:hover,#u1640:hover,#u1641:hover
{
	width: 60px;
	height: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1637-4
{
	z-index: 2;
	width: 980px;
	min-height: 23px;
	margin-top: 23px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

